<h1>Olá {{ name }}!</h1>
<p>
  Nós, da GymPoint, estamos felizes em te ver indo atrás dos seu objetivos e
  queremos te ajudar como pudermos. Abaixo você pode ver as informações
  principais do novo plano que vc se matriculou, o plano {{ planName }}.
</p>
<div style="padding: 20px;">
  <h3>Plano {{ planName }}</h3>
  <p>Data de início: {{ startDate }}</p>
  <p>Data de término: {{ endDate }}</p>
  <p>Valor mensal: R$ {{ mensalPrice }}/mês </p>
  <p><small>Valor total de R$ {{ fullPrice }}</small></p>
</div>
<p>
  Mande um email para blahblah@blahblah.blah com suas dúvidas ou sugestões!
  Esperamos que você alcance todos seus objetivos e se desenvolva ao máximo
  conosco.
</p>
